.container[b-lodusj336b]{
    display:flex;
}

.card[b-lodusj336b]{
    border-radius:20px;
    margin-left: 10px;
    height: 200px;
    background-color:aqua;
    flex:1;
    transition: .3s all ease;
}

.card:hover[b-lodusj336b]{
    flex:2;
    background-color: aqua ;
}