.info-text[b-029ahxqzll]{
    text-align: justify;
    color: black;
    font-size: 15px;
}

.divMenu[b-029ahxqzll] {
    text-align: center;
    padding: 5px;
    color: black;
}

.divMenu:hover[b-029ahxqzll] {
    background-color: #0d47a1;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

h3[b-029ahxqzll] {
    color: black;
}

.info-text a[b-029ahxqzll] {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

.info-text a:hover[b-029ahxqzll] {
    color: #0d47a1;
    text-decoration: underline;
    cursor: pointer;
}
