@page "/equipos"
@using NBA_FINAL_PROJECT.Model
@using System.Net.Http
@using System.Text.Json.Serialization
@inject NavigationManager navigation
@inject HttpClient http

@if (equipo2 == null)
{
    <div class="spinner"></div>
}
else if (equipo2 != null)
{
    <RadzenDataGrid Data="@equipo2.data" TItem="Datum1"
                AllowFiltering="true"
                AllowSorting="true"
                AllowPaging="true"
                PageSize="10">
        <Columns>
            <RadzenDataGridColumn TItem="Datum1" Property="abbreviation" Sortable="false" Filterable="false" Width="80px" TextAlign="TextAlign.Center" Title="Escudo">
                <Template Context="Datum1">
                    <RadzenImage Path="@getImg(Datum1.abbreviation)" class="rz-gravatar"/>
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="Datum1" Property="full_name" Title="Full Name" />
            <RadzenDataGridColumn TItem="Datum1" Property="name" Title="Name" />
            <RadzenDataGridColumn TItem="Datum1" Property="conference" Title="Conferencia" />
            <RadzenDataGridColumn TItem="Datum1" Property="id" Title="Info" Width="90px" TextAlign="TextAlign.Center" Filterable="false" Sortable="false">
                <Template Context="Datum1">
                    <RadzenButton ButtonStyle="ButtonStyle.Warning" Icon="info" Size="ButtonSize.Small" Click=@(()=> buscar(Datum1.id))/>
                </Template>
            </RadzenDataGridColumn>
        </Columns>
    </RadzenDataGrid>
}


@code {
    Equipos equipo;
    Equipos equipo2;

    protected override async Task OnInitializedAsync()
    {
        equipo = await http.GetFromJsonAsync<Equipos>($"https://www.balldontlie.io/api/v1/teams");
        equipo2 = equipo;
    }

    private void buscar(int id){
        navigation.NavigateTo($"/equiposinfo/{id}");
    }

    private string getImg(string abbreviation)
    {
        return "/img/equipos/" + abbreviation + ".png";
    }
}