@page "/mapa"
@using NBA_FINAL_PROJECT.Model
@using System.Globalization
@using System.Net.Http
@using System.Text.Json.Serialization
@inject HttpClient http
@inject NavigationManager navigation
@inject IJSRuntime jsRuntime


<div id="map" style="width: 30px; height: 50px;"></div>




@code {
    
}
